<div class="container clear">
  <div class="row">
    <form>
      <label for="name">Name:</label>
      {{input value=name id='name'}}
      <button class='btn btn-default' {{action 'saveSubcategory'}}>Add</button>
    </form>
  </div>
</div>
