<div class="container-fluid">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-brand">
        {{#link-to 'index'}}Craigslist{{/link-to}}
      </div>
      <ul class="nav navbar-nav">
        {{#if category}}
        <li>{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</li>
        {{/if}}
        {{#if subcategory}}
        <li>{{#link-to 'subcategory' subcategory.id}}{{subcategory.name}}{{/link-to}}</li>
        {{/if}}
      </ul>

      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'newListing'}}Admin{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
</div>
