<div class="subcategory-tile">
  {{#link-to 'subcategory' subcategory.id}}{{subcategory.name}}{{/link-to}}
  <hr>
  {{#each sortedListings as |listing|}}
  {{#link-to 'listing' listing.id}}<li>{{listing.title}}</li>{{/link-to}}
  {{/each}}
</div>
