<div class="col-xs-4 subcategory-outer-tile" style="float: left;">
  <div class="subcategory-content-tile">
    {{#link-to 'subcategory' subcategory.id}}{{subcategory.name}}{{/link-to}}
    <hr>
    {{#each recentListings as |listing|}}
      {{#link-to 'listing' listing.id}}<li>{{listing.title}}</li>{{/link-to}}
    {{/each}}
  </div>
</div>
