{{nav-links}}

{{#each model.subcategories as |subcategory|}}
  {{#link-to 'subcategory' subcategory.id}}<h3>{{subcategory.name}}</h3>{{/link-to}}
{{/each}}

{{add-subcategory category=model saveSubcategory='saveSubcategory'}}
